
  <section class="appetizers">
      <h1 align="center">Appetizers</h1>
      
        <%= link_to 'Back', :back, class: 'follow'  %>
    

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <!-- <div class="col-12 col-sm-6"> -->
        <h3>Pesto Cheese Crostini</h3>
        <p class="price">$7.95</p>
        <p class="descritpion">Toasted Italian Bread, Garlic, Mozzarella, Romano Cheese, Side of Bruschetta Tomatores.</p>
        <button class="modal-button" id="show-modal">Learn More</button>
      </div>

       <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3><b>New</b> Bruschetta Trio</h3>
        <p class="price">$11.50</p>
        <p class="descritpion">Pick Any Three Selections of Bruschetta</p>
        <li>Roasted Red Bell Pepper & Goat Cheese</li>
        <li>Salami, Fig with Arugula & Bue Cheese</li>
        <li>Fresh Mozzarella, Basil, Balsamic Glaze & Tomatoe</li>
        <li>Pear & Walnut with a blend of Goat, Blue Cheese & Honey</li>
        <li>Fig & Prosciutto topped with Arugula</li>
        <li>Spicy Fig Jam with Jalapeno & Cream Cheese</li>
        <li>Balsamic Marinated Tomatoes & Goat Cheese</li>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Pisatachio Mozzarella</h3>
        <p class="price">$10.50</p>
        <p class="descritpion">Sliced Tomatoes, Fresh Mozzarella, Pistachios, Fresh Basil, Extra Virgin Olive Oil, Balsamic Reduction.</p>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Firecracker Rolls</h3>
        <p class="price">$10.95</p>
        <p class="descritpion">Choose any three hand-rolled Won Tons topped with Parmesan, served with Spicy Marinara sauce and a side of Mista Greens.</p>
        <li>STEAK: Steak, Jalapeños, Onions, Provolone and Mozzarella.</li>
        <li>ITALIAN: Italian Meats, Provolone and Mozzarella.</li>
        <li>BUFFALO CHICKEN: Buffalo Chicken, Mozzarella, Gorgonzola.</li>
      </div>
    
      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Wild Mushrooms with Roasted Asparagus</h3>
        <p class="price">$10.50</p>
        <p class="descritpion">Wild Mushrooms, Marsala, Toasted Walnuts, Roasted Asparagus, Shaved Parmesan, Bread Crumbs.</p>  
      </div>
        
      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Stuffed Portobello</h3>
        <p class="price">$11.50</p>
        <p class="descritpion">Portobello Mushroom, Sausage Ragu, Mozzarella, Roma Tomatoes, Parmesan, Fresh Basil.</p>  
      </div>
      
      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Toasted Ravioli With Sausage Ragu</h3>
        <p class="price">$10.95</p>
        <p class="descritpion">Spicy fried Cheese Ravioli with Sausage Ragu and Romano cheese.</p>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Artichoke, Shrimp and Crab Dip</h3>
        <p class="price">$11.50</p>
        <p class="descritpion">Artichokes, Shrimp, Crab, Pepper-Jack Cheese, Romano, Garlic Bread.</p>
      </div>

       <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Mozza Balls</h3>
        <p class="price">$10.50</p>
        <p class="descritpion">Three-Cheese Panko Crusted Mozza-balls served with Bolognese Ragu.</p>
      </div>
    </section>
  </div>



 <!-- 
  <div class="modal ">
    <div class="modal_contents">
      <div class="modal_close-bar">
        <span>X</span>
      </div>
      <p>this is a good appetizer</p>
      <form id="submit">
        <input type="email" placeholder="enter your email">
        <button>Submit</button>
      </form>
      
    </div>

  </div>
    <script src="/home.js"></script> -->
      
