<!-- <h1>Babbo Italian Eatery</h1>
<h2>Arizona's Modern Italian Restaurant</h2> -->
<div class="hero">
  <br />
  <div class="frosty col-4 float-right text-center">
    <h1 class="thick">Book Your Session for 15% Off</h1>
    <h2>Space Is Limited!</h2>
    <br />

     
    <input class="field-input form-control mywidth" id="wfcEmail_3031379_0" maxlength="256" name="wfcEmail_3031379" type="email" placeholder="Full Name">

    <br />

    <input class="field-input form-control mywidth" id="wfcEmail_3031379_0" maxlength="256" name="wfcEmail_3031379" type="email" placeholder="Email">

    <br />
  
      <input class="field-input form-control mywidth" id="wfcEmail_3031379_0" maxlength="256" name="wfcEmail_3031379" type="email" placeholder="Phone Number">

    <br />

     <input class="field-input form-control mywidth" id="wfcEmail_3031379_0" maxlength="256" name="wfcEmail_3031379" type="email" placeholder="Desired Date">


    <br />

    <input class="field-input form-control mywidth" id="wfcEmail_3031379_0" maxlength="256" name="wfcEmail_3031379" type="email" placeholder="How Many Pets?">
 

    <br />

    <textarea class="mywidth" rows="2" cols="50" name="comment" form="usrform">
Comments...</textarea>

    
    <br />

    <%= link_to 'Book Now', '#', class: 'btn btn-lg btn-primary' %>

    <br />
    <br />
  </div>
</div>


<div class="hero1">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <h1 class="thick">About Us</h1>
    <p>We are a Miami based Mobile Pet Photography Company that is changing the industry standard. Our Photography Pet Experts have the experience that is second to none. We have the knowledge to capture your four-legged furry loved ones in their best moments. From lighting options to location recommondations we are ready to answer any of your questions and help get you booked today</p>
    <br />

  

  </div>
</div>


<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'dogportraits.jpg', class: 'img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Best Pet Photos in Town</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'micro.jpg', class: 'img fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Photograph Any Pets</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'holiday1.jpg', class: 'img fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Holiday Photos For Any Season</h3>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'dogcat.jpg', class: 'img fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Best Friends Forever</h3>
      </div>
    </div>
    
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->