 <section class="pastas">
      <h1 align="center">Pastas</h1>
      
        <%= link_to 'Back', :back, class: 'follow'  %>
    

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <!-- <div class="col-12 col-sm-6"> -->
        <h3><b>New</b> Zoodles Arrabbiata</h3>
        <p class="price">$10.95</p>
        <p class="descritpion">Zucchini Noodles, Spicy Marinara, Pomodoro Tomato, Anchovy Paste, Onion, Fresh Basil.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

       <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3><b>New</b> Pasta Francaise</h3>
        <p class="price">$10.95</p>
        <p class="descritpion">Caramelized Onions, Sun Dried Tomatoes, Toasted Pine Nuts and Parmesan in a Garlic Butter Wine Sauce. Served on Fettuccine with a slice of Toasted Ciabatta.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>


      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3><b>New</b> Super Food</h3>
        <p class="price">$10.95</p>
        <p class="descritpion"> Pesto, Tuscan Kale, Spinach, Green Onions, Red Chili and Garlic in a White Wine Sauce. Served on Fettuccine.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3><b>New</b> What The Kale?</h3>
        <p class="price">$11.95</p>
        <p class="descritpion">Artichoke, Garlic, Kale and Roma Tomatoes served in a creamy Three Cheese Sauce. Served on Penne..</p>
        <p class="upgrade">TRY IT WITH CRISPY CHICKEN $3.95</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Pomodoro Pasta</h3>
        <p class="price">$10.95</p>
        <p class="descritpion">Chopped Pomodoro Tomatoes, Green Onions, Capers, lightly tossed in Extra Virgin Olive Oil and Garlic. Served on Linguine and topped with Shaved Parmesan.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Alfredo Supremo</h3>
        <p class="price">$12.50</p>
        <p class="descritpion">White Wine, Garlic, Cream, and Parmesan Cheese. Served on Linguine.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>
        
       <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Pasta Primavera</h3>
        <p class="price">$12.50</p>
        <p class="descritpion">Mixed Peppers, Broccoli, Zucchini, Mushrooms, Diced and Sun Dried Tomatoes in a White Wine Garlic Butter Sauce. Served on Linguine.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>
      
      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Creamy Mushroom And Asparagus</h3>
        <p class="price">$12.50</p>
        <p class="descritpion">Creamy Garlic Sauce, Sun Dried Tomatoes, Mushrooms, Asparagus. Served on Penne.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Pasta Rustico</h3>
        <p class="price">$12.50</p>
        <p class="descritpion">Baby Spinach, Ricotta, Garlic, Fresh Marinara and topped with Mozzarella. Served on Penne.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

       <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Pasta Valducci</h3>
        <p class="price">$12.50</p>
        <p class="descritpion">Artichokes, Kalamata Olives, Sun Dried Tomatoes, and Garlic, in a Pink Sauce. Served on Penne.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

        <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Babbo's Bowl O' Bolognese</h3>
        <p class="price">$14.50</p>
        <p class="descritpion">Marinara Sauce, Ground Beef, Thyme, Bay Leaves, Garlic and Romano Cheese. Served on Spaghettini.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

        <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>PASTA PUGLIA (PRONOUNCED POOLIA)</h3>
        <p class="price">$13.95</p>
        <p class="descritpion">Fresh Tomato Brodo, Fresh Mozzarella, Spicy Italian Sausage topped with Fresh Basil and Shaved Parmesan Cheese. Served on Fusilli.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Chicken Limone</h3>
        <p class="price">$14.50</p>
        <p class="descritpion">Roasted Chicken Breast, Artichokes, Capers, Fresh Lemon Butter Sauce, Garlic. Served on Fusilli.</p>
        <p class="upgrade">GO GREEN: ADD ASPARAGUS FOR THE PERFECT CRUNCH. ($3.50)</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>


        <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Italian Sausage Pasta</h3>
        <p class="price">$14.50</p>
        <p class="descritpion">Marinara Sauce, Spicy Italian Sausage, Mixed Peppers, Mushrooms, Marsala Wine, Parmesan Cheese. Served on Penne.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

        <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Spaghetti and Meatballs</h3>
        <p class="price">$14.50</p>
        <p class="descritpion">Marinara Sauce, Meatballs, Parmesan, Oregano, Basil. Served on Spaghettini</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Chicken Chipotle</h3>
        <p class="price">$14.50</p>
        <p class="descritpion">Roasted Chicken, Corn, Scallions, Mixed Peppers, Chipotle Cream, Lime Juice, and Cilantro. Served on Penne.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Creamy Garlic Chicken</h3>
        <p class="price">$14.95</p>
        <p class="descritpion">Roasted Chicken, Creamy Garlic Sauce, Mushrooms, Sun Dried Tomatoes.Served on Penne.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Pasta Martini</h3>
        <p class="price">$14.95</p>
        <p class="descritpion">Vodka, Creamy Marinara, Chicken, Artichokes, Garlic, Kalamata Olives. Served on Penne.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Spicy Alfredo with Italian Sausage</h3>
        <p class="price">$14.95</p>
        <p class="descritpion">Scallions, Tomatoes, Mushrooms, Italian Sausage, in a Creamy Garlic Sauce. Served on Fusilli.</p>
        <button class="modal-button" id="show-modal">See Details</button>             
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Parmasean Chicken Pasta</h3>
        <p class="price">$14.95</p>
        <p class="descritpion">Marinara Sauce, Meatballs, Parmesan, Oregano, Basil. Served on Spaghettini</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Creamy Pesto Pasta</h3>
        <p class="price">$12.50</p>
        <p class="descritpion">Crispy Chicken, Marinara, Melted Mozzarella, served on Linguine.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Roasted Brussell Sprouts and Pancetta Pasta</h3>
        <p class="price">$13.95</p>
        <p class="descritpion">Crisp Pancetta, Roasted Brussels Sprouts, Red Pepper Flakes in a Garlic Butter Sauce. Served on Fettuccine and topped with Shaved Parmesan and Parsley.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Stuffed Manicotti</h3>
        <p class="price">$15.50</p>
        <p class="descritpion">Baked Ricotta Cheese filled Manicotti with your choice of Sausage or Portobella and Mixed Peppers Ragu. Topped with fresh Shaved Parmesan and Basil.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Chicken Fettuccine</h3>
        <p class="price">$15.50</p>
        <p class="descritpion">Roasted Chicken, Broccoli, Asparagus, Yellow Squash, Zucchini, in a Parmesan Garlic Cream Sauce, topped with Carrots. Served on Fettuccine.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Three Cheese Mac And Cheese</h3>
        <p class="price">$15.50</p>
        <p class="descritpion"><b>This ain't no kids meal!</b> Smokey Chipotle Cream Sauce blended with Cheddar, Mozzarella and Gorgonzola cheeses, Bacon, Sausage, Croutons, served on Penne Pasta.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Cajun Jumbalaya</h3>
        <p class="price">$15.50</p>
        <p class="descritpion">Cajun Chicken, Spicy Sausage, Mixed Peppers, Mushrooms, Onions, Roasted in a light Garlic Cajun Sauce. Served on Fettuccine.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Garlic Shrimp</h3>
        <p class="price">$15.50</p>
        <p class="descritpion">Shrimp, Creamy Garlic Sauce, Mushrooms, Sun Dried Tomatoes. Served on Linguine.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Great White Buffalo</h3>
        <p class="price">$15.50</p>
        <p class="descritpion">Crispy Buffalo Chicken, Broccoli with a Creamy Gorgonzola Sauce. Served on Linguine.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Amy's Lasagna</h3>
        <p class="price">$15.50</p>
        <p class="descritpion">Four Cheese. Meatball. Bolognese Lasagna… Just order it!</p>
        <p class="upgrade">IT TAKES LONGER TO COOK BUT WORTH THE WAIT!</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>  

      <div class="booyah-box col-10 offset-1">
        <b>SUBSTITUTE ZOODLES (zucchini noodles) to any pasta. They’re Amazing! $2.95
        <br />
        <br />
        NOTE: All pastas are garnished with Parmesan Cheese and Italian Parsley. All pastas can be prepared vegetarian upon request.
        <br />
        <br />
        Whole Wheat Pasta & Gluten Free Pasta Available At No Additional Charge 
        </b>   
      </div>
      <div class="col-sm-2 page_announcement">Add a Protein</div>

      <div class="col-xs-9">Chicken</div>
      <div class="col-xs-3">$5.75</div>
      <div class="col-xs-9">Shrimp*</div>
      <div class="col-xs-3">$6.75</div>
      <div class="col-xs-9">Crispy Chicken 1 PC</div>
      <div class="col-xs-3">$3.95</div>
      <div class="col-xs-9">Spicy Italian Sausage</div>
      <div class="col-xs-3">$5.75</div>
      <div class="col-xs-9">Meatball</div>
      <div class="col-xs-3">$3.75</div>
      <div class="col-xs-9">Flat Iron Steak*</div>
      <div class="col-xs-3">$6.75</div>
      <div class="col-xs-9">Salmon*</div>
      <div class="col-xs-3">$9.95</div>

      <div class="col-sm-2 disclaimer padD">All Flat Iron Steak Is Cooked Medium To Medium-Well</div>
      <hr />
      <p class="menu_boiler">"*WARNING: Consuming raw or undercooked meat, eggs or seafood can increase your risk of food borne illness."
    </section>
  </div>
