<!DOCTYPE html>
<html>
  <head>
    <title>Pets Forever Portraits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="description" content="Hi Professor Heath! Pets Forever Portraits is the #1 rated mobile Pet Photographers in Miami, FL">
  </head>

  <body>
   
    <nav class="navbar navbar-toggleable-md">
      <button class="navbar-toggler navbar-toggler-right navbar-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>
      
      <h1><a class="navbar-brand logo" href="/">Pets Forever Portraits
      </a></h1>
      
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <div class="dropdown">
            <li class="nav-item">
              <button onclick="myFunction()" class="dropbtn">Contact Us</button>
            </li>
            <div id="myDropdown" class="dropdown-content">
              <a href="#phone_number">Phone Number</a>
              <a href="#address">Address</a>
              <a href="#social_media">Social Media</a>
            </div>
          </div>
            <div class="dropdown">
            <li class="nav-item">
              <button onclick="myFunction1()" class="dropbtn">About Us</button>
            </li>
            <div id="myDropdown1" class="dropdown-content">
              <a href="#our_story">Our Story</a>
              <a href="#our_mission">Our Mission</a>
              <a href="#community">Giving To Our Community</a>
            </div>
          </div>
            <div class="dropdown">
            <li class="nav-item">
              <button onclick="myFunction2()" class="dropbtn">Galleries</button>
            </li>
            <div id="myDropdown2" class="dropdown-content">
              <a href="#dogs">Dogs</a>
              <a href="#cats">Cats</a>
              <a href="#other pets">Other Pets</a>
            </div>
          </div>
            <div class="dropdown">
            <li class="nav-item">
              <button onclick="myFunction3()" class="dropbtn">Pricing</button>
            </li>
            <div id="myDropdown3" class="dropdown-content">
              <a href="#at_our_studio">At Our Studio</a>
              <a href="#at_your_house">At Your House</a>
              <a href="#destination_location">Destination Location</a>
            </div>
          </div>
            <div class="dropdown">
            <li class="nav-item">
              <button onclick="myFunction4()" class="dropbtn">Blog</button>
            </li>
            <div id="myDropdown4" class="dropdown-content">
              <a href="#mike_torres">By: Mike Torres</a>
              <a href="#professor_heath">By: Professor Heath</a>
              <a href="#mco_562">By: Other MCO 562 Professionals</a>
            </div>
          </div>
        </ul>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Welcome Back', user_path(current_user), class: 'nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Booked Clients', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
          <% end %> 
        </ul>
      </div>
    </nav>

    <% if notice.present? %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
    <div class="footer">
      <p>Contact Us</p>
      <p>About Us</p>
      <p>Galleries</p>
      <p>Pricing</p>
      <p>Blog</p>
    </div>
    
  </body>


</html>


<script>
  setTimeout("$('.alert').fadeOut('slow')", 3000)

/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function myFunction1() {
  document.getElementById("myDropdown1").classList.toggle("show");
}

function myFunction2() {
  document.getElementById("myDropdown2").classList.toggle("show");
}

function myFunction3() {
  document.getElementById("myDropdown3").classList.toggle("show");
}

function myFunction4() {
  document.getElementById("myDropdown4").classList.toggle("show");
}
// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
